# Configuration file

general {
    I:waila.cfg.alpha=80
    I:waila.cfg.bgcolor=1048592
    I:waila.cfg.fontcolor=10526880
    I:waila.cfg.gradient1=5243135
    I:waila.cfg.gradient2=2621567
    I:waila.cfg.heartsperline=20
    B:waila.cfg.keybind=true
    B:waila.cfg.liquid=false
    I:waila.cfg.maxhpbeforetext=40
    B:waila.cfg.metadata=false
    B:waila.cfg.newfilters=true
    I:waila.cfg.posx=9308
    I:waila.cfg.posy=9449
    I:waila.cfg.scale=74
    B:waila.cfg.shiftblock=false
    B:waila.cfg.shiftents=false
    B:waila.cfg.show=true
    B:waila.cfg.showmode=true
}


##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Those are the config keys defined in modules.
# Server side, it is used to enforce keys client side using the next section.
##########################################################################################################

modules {
    B:DSU=true
    B:"Extra Utilities"=true
    B:Forestry=true
    B:"Forestry:apiary"=true
    B:"Forestry:heat"=true
    B:"Forestry:leaves"=true
    B:"Forestry:power"=true
    B:"Forestry:sapling"=true
    B:IFluidHandler=true
    B:Mekanism=true
    B:"Mekanism:energy"=true
    B:"Mekanism:factoryType"=true
    B:"Mekanism:gas"=true
    B:"Mekanism:portableTank"=true
    B:"Mekanism:salination"=true
    B:Railcraft=true
    B:"Railcraft:charge"=true
    B:"Railcraft:energy"=true
    B:"Railcraft:engines"=true
    B:"Railcraft:heat"=true
    B:"Railcraft:locomotives"=true
    B:"Railcraft:multiblocks"=true
    B:"Railcraft:tanks"=true
    B:"TE Augments"=true
    B:bc.tankamount=true
    B:bc.tanktype=true
    B:enderstorage.colors=true
    B:extrautilities.fluidamount=true
    B:facades.hidden=true
    B:general.showcrop=true
    B:general.showhp=true
    B:oc.address=true
    B:oc.componentName=true
    B:oc.energy=true
    B:openblocks.fluidamount=true
    B:pr.showdata=true
    B:pr.showio=true
    B:railcraft.fluidamount=true
    B:showMaterial=false
    B:showOrigin=true
    B:tfc.baby=true
    B:tfc.familiarToday=true
    B:tfc.familiarity=false
    B:tfc.gender=true
    B:tfc.oreQuality=true
    B:thermalexpansion.cache=true
    B:thermalexpansion.energycell=true
    B:thermalexpansion.energyhandler=true
    B:thermalexpansion.fluidamount=false
    B:thermalexpansion.fluidtype=true
    B:thermalexpansion.owner=true
    B:thermalexpansion.tankmode=true
    B:thermalexpansion.tessfreq=true
    B:thermalexpansion.tesssendrecv=true
    B:udary.terrafirmacraft.alloycalculator.storage=true
    B:udary.terrafirmacraft.animal.adult=false
    B:udary.terrafirmacraft.animal.birthdate=false
    B:udary.terrafirmacraft.animal.familiarity=false
    B:udary.terrafirmacraft.animal.gender=false
    B:udary.terrafirmacraft.animal.hp=false
    B:udary.terrafirmacraft.animal.inlove=false
    B:udary.terrafirmacraft.animal.milked=false
    B:udary.terrafirmacraft.animal.misc=false
    B:udary.terrafirmacraft.animal.pregnant=false
    B:udary.terrafirmacraft.animal.tuckerbaginfo=true
    B:udary.terrafirmacraft.anodisingvessel.process=true
    B:udary.terrafirmacraft.anodisingvessel.storage=true
    B:udary.terrafirmacraft.anvil.storage=false
    B:udary.terrafirmacraft.anvil.tier=false
    B:udary.terrafirmacraft.barrel.progress=false
    B:udary.terrafirmacraft.berrybush.harvest=false
    B:udary.terrafirmacraft.berrybush.hasfruit=false
    B:udary.terrafirmacraft.blastfurnace.storage=false
    B:udary.terrafirmacraft.blastfurnace.validlevels=false
    B:udary.terrafirmacraft.clay.stone=false
    B:udary.terrafirmacraft.crucible.showmetal=false
    B:udary.terrafirmacraft.dirt.stone=false
    B:udary.terrafirmacraft.dryingmat.process=true
    B:udary.terrafirmacraft.dryingmat.storage=true
    B:udary.terrafirmacraft.evaporatorpan.process=true
    B:udary.terrafirmacraft.evaporatorpan.storage=true
    B:udary.terrafirmacraft.farmland.nutrients=false
    B:udary.terrafirmacraft.farmland.stone=false
    B:udary.terrafirmacraft.firepit.fuel=false
    B:udary.terrafirmacraft.firepit.storage=false
    B:udary.terrafirmacraft.foodprep.storage=false
    B:udary.terrafirmacraft.forge.fuel=false
    B:udary.terrafirmacraft.forge.stackstate=false
    B:udary.terrafirmacraft.forge.storage=false
    B:udary.terrafirmacraft.fruitleaves.harvest=false
    B:udary.terrafirmacraft.fruitleaves.hasfruit=false
    B:udary.terrafirmacraft.fruitwood.harvest=false
    B:udary.terrafirmacraft.grass.stone=false
    B:udary.terrafirmacraft.gravel.stone=false
    B:udary.terrafirmacraft.grill.storage=false
    B:udary.terrafirmacraft.hopper.storage=false
    B:udary.terrafirmacraft.ingotpile.count=false
    B:udary.terrafirmacraft.logpile.count=false
    B:udary.terrafirmacraft.logpile.storage=false
    B:udary.terrafirmacraft.orecooker.process=true
    B:udary.terrafirmacraft.orecooker.storage=true
    B:udary.terrafirmacraft.pottery.pitkiln=true
    B:udary.terrafirmacraft.pottery.progress=true
    B:udary.terrafirmacraft.pottery.storage=true
    B:udary.terrafirmacraft.quern.storage=false
    B:udary.terrafirmacraft.sand.stone=false
    B:udary.terrafirmacraft.sapling.remaining=false
    B:udary.terrafirmacraft.smokerack.storage=false
    B:udary.terrafirmacraft.stand.armor=false
    B:udary.terrafirmacraft.toolrack.storage=false
    B:udary.terrafirmacraft.torch.remaining=false
    B:udary.terrafirmacraft.worlditem.storage=false
    B:vanilla.comparator=true
    B:vanilla.jukebox=true
    B:vanilla.leverstate=true
    B:vanilla.redstone=true
    B:vanilla.repeater=true
    B:vanilla.silverfish=true
    B:vanilla.spawntype=true
}


##########################################################################################################
# server_forcing
#--------------------------------------------------------------------------------------------------------#
# Any key set to true here will ensure that the client is using the configuration set in the 'module' section above.
# This is useful for enforcing false to 'cheating' keys like silverfish.
##########################################################################################################

server_forcing {
    B:DSU=false
    B:"Extra Utilities"=false
    B:Forestry=false
    B:"Forestry:apiary"=false
    B:"Forestry:heat"=false
    B:"Forestry:leaves"=false
    B:"Forestry:power"=false
    B:"Forestry:sapling"=false
    B:IFluidHandler=false
    B:Mekanism=false
    B:"Mekanism:energy"=false
    B:"Mekanism:factoryType"=false
    B:"Mekanism:gas"=false
    B:"Mekanism:portableTank"=false
    B:"Mekanism:salination"=false
    B:Railcraft=false
    B:"Railcraft:charge"=false
    B:"Railcraft:energy"=false
    B:"Railcraft:engines"=false
    B:"Railcraft:heat"=false
    B:"Railcraft:locomotives"=false
    B:"Railcraft:multiblocks"=false
    B:"Railcraft:tanks"=false
    B:"TE Augments"=false
    B:bc.tankamount=false
    B:bc.tanktype=false
    B:enderstorage.colors=false
    B:extrautilities.fluidamount=false
    B:facades.hidden=false
    B:general.showcrop=false
    B:general.showhp=false
    B:oc.address=false
    B:oc.componentName=false
    B:oc.energy=false
    B:openblocks.fluidamount=false
    B:pr.showdata=false
    B:pr.showio=false
    B:railcraft.fluidamount=false
    B:showMaterial=false
    B:showOrigin=false
    B:tfc.baby=false
    B:tfc.familiarToday=false
    B:tfc.familiarity=false
    B:tfc.gender=false
    B:tfc.oreQuality=false
    B:thermalexpansion.cache=false
    B:thermalexpansion.energycell=false
    B:thermalexpansion.energyhandler=false
    B:thermalexpansion.fluidamount=false
    B:thermalexpansion.fluidtype=false
    B:thermalexpansion.owner=false
    B:thermalexpansion.tankmode=false
    B:thermalexpansion.tessfreq=false
    B:thermalexpansion.tesssendrecv=false
    B:udary.terrafirmacraft.alloycalculator.storage=false
    B:udary.terrafirmacraft.animal.adult=false
    B:udary.terrafirmacraft.animal.birthdate=false
    B:udary.terrafirmacraft.animal.familiarity=false
    B:udary.terrafirmacraft.animal.gender=false
    B:udary.terrafirmacraft.animal.hp=false
    B:udary.terrafirmacraft.animal.inlove=false
    B:udary.terrafirmacraft.animal.milked=false
    B:udary.terrafirmacraft.animal.misc=false
    B:udary.terrafirmacraft.animal.pregnant=false
    B:udary.terrafirmacraft.animal.tuckerbaginfo=false
    B:udary.terrafirmacraft.anodisingvessel.process=false
    B:udary.terrafirmacraft.anodisingvessel.storage=false
    B:udary.terrafirmacraft.anvil.storage=false
    B:udary.terrafirmacraft.anvil.tier=false
    B:udary.terrafirmacraft.barrel.progress=false
    B:udary.terrafirmacraft.berrybush.harvest=false
    B:udary.terrafirmacraft.berrybush.hasfruit=false
    B:udary.terrafirmacraft.blastfurnace.storage=false
    B:udary.terrafirmacraft.blastfurnace.validlevels=false
    B:udary.terrafirmacraft.clay.stone=false
    B:udary.terrafirmacraft.crucible.showmetal=false
    B:udary.terrafirmacraft.dirt.stone=false
    B:udary.terrafirmacraft.dryingmat.process=false
    B:udary.terrafirmacraft.dryingmat.storage=false
    B:udary.terrafirmacraft.evaporatorpan.process=false
    B:udary.terrafirmacraft.evaporatorpan.storage=false
    B:udary.terrafirmacraft.farmland.nutrients=false
    B:udary.terrafirmacraft.farmland.stone=false
    B:udary.terrafirmacraft.firepit.fuel=false
    B:udary.terrafirmacraft.firepit.storage=false
    B:udary.terrafirmacraft.foodprep.storage=false
    B:udary.terrafirmacraft.forge.fuel=false
    B:udary.terrafirmacraft.forge.stackstate=false
    B:udary.terrafirmacraft.forge.storage=false
    B:udary.terrafirmacraft.fruitleaves.harvest=false
    B:udary.terrafirmacraft.fruitleaves.hasfruit=false
    B:udary.terrafirmacraft.fruitwood.harvest=false
    B:udary.terrafirmacraft.grass.stone=false
    B:udary.terrafirmacraft.gravel.stone=false
    B:udary.terrafirmacraft.grill.storage=false
    B:udary.terrafirmacraft.hopper.storage=false
    B:udary.terrafirmacraft.ingotpile.count=false
    B:udary.terrafirmacraft.logpile.count=false
    B:udary.terrafirmacraft.logpile.storage=false
    B:udary.terrafirmacraft.orecooker.process=false
    B:udary.terrafirmacraft.orecooker.storage=false
    B:udary.terrafirmacraft.pottery.pitkiln=false
    B:udary.terrafirmacraft.pottery.progress=false
    B:udary.terrafirmacraft.pottery.storage=false
    B:udary.terrafirmacraft.quern.storage=false
    B:udary.terrafirmacraft.sand.stone=false
    B:udary.terrafirmacraft.sapling.remaining=false
    B:udary.terrafirmacraft.smokerack.storage=false
    B:udary.terrafirmacraft.stand.armor=false
    B:udary.terrafirmacraft.toolrack.storage=false
    B:udary.terrafirmacraft.torch.remaining=false
    B:udary.terrafirmacraft.worlditem.storage=false
    B:vanilla.comparator=false
    B:vanilla.jukebox=false
    B:vanilla.leverstate=false
    B:vanilla.redstone=false
    B:vanilla.repeater=false
    B:vanilla.silverfish=false
    B:vanilla.spawntype=false
}


